.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }
  
  .u-section-1 .u-shape-1 {
    width: 562px;
    left: auto;
    right: 133px;
    background-image: none;
  }
  
  .u-section-1 .u-image-1 {
    width: 717px;
    height: 445px;
    object-position: 0% 50%;
    background-position: 0% 50%;
    margin: 0 auto 0 -41px;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 487px;
    width: 675px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
    height: auto;
    margin: -392px -64px 29px auto;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 13px 30px 21px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 0 40px 0 20px;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-style: normal;
    line-height: 1.4;
    margin: 14px 0 0;
  }
  
  .u-section-1 .u-text-3 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    margin: 10px 40px 0 20px;
  }
  
  .u-section-1 .u-form-1 {
    height: 118px;
    margin: 10px 80px 0 30px;
  }
  
  .u-section-1 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-right: 50px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-container-layout-1 {
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 651px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 540px;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-1 .u-image-1 {
      width: 540px;
      height: 335px;
      margin-left: 0;
    }
  
    .u-section-1 .u-group-1 {
      width: 540px;
      margin-top: -282px;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: 15px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 515px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 340px;
    }
  
    .u-section-1 .u-image-1 {
      width: 340px;
      height: 211px;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
      margin-top: -158px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: 0;
    }
  }